.settings {
  $grey: #a9a9a9;
  background-color: $grey;
  padding: 16px 8px;

  .input-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 16px;

    li {
      background-color: #ffffff;
      padding: 4px 0 4px 8px;
      margin: 4px;

      span {
        background-color: #343434;
        color: #ffffff;
        cursor: pointer;
        padding: 4px 8px;
        margin: 0 0 0 4px;
      }
    }
  }

  .inline-form {
    display: flex;
    align-items: center;

    .select {
      transform: translateY(8px);
    }

    .input {
      width: 100%;
      margin: 0 8px;
    }

    .btn {
      height: 35px;
      padding: 4px;
      position: relative;
      width: 100px;
      transform: translateY(25%);
    }
  }
}
