.select {
  background-color: #ffffff;
  border: 1px solid #343434;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  position: relative;
  width: 100%;

  p {
    display: flex;
    justify-content: space-between;

    .triangle {
      font-size: 12px;
    }
  }

  ul {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    transform: translateY(10%);
    width: 100%;

    li {
      background-color: #ffffff;
      padding: 16px 8px;

      &:hover {
        background-color: #eaeaea;
      }
    }
  }
}
